<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <title>Tokenbets 🐱‍🚀</title>
  <meta name="title" content="Tokenbets 🐱‍🚀">
  <meta name="description" content="Find the best low-market cap tokens that might be potential moonshots in one single place.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tokenbets.xyz/">
  <meta property="og:title" content="Tokenbets 🐱‍🚀">
  <meta property="og:description" content="Find the best low-market cap tokens that might be potential moonshots in one single place.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://tokenbets.xyz/">
  <meta property="twitter:title" content="Tokenbets 🐱‍🚀">
  <meta property="twitter:description" content="Find the best low-market cap tokens that might be potential moonshots in one single place.">
  <meta property="twitter:image" content="">


  <link rel="stylesheet" href="/css/styles.css">


  <script>
    (function(w, r) {
      w._rwq = r;
      w[r] = w[r] || function() {
        (w[r].q = w[r].q || []).push(arguments)
      }
    })(window, 'rewardful');
  </script>
  <script async src='https://r.wdfl.co/rw.js' data-rewardful='1fc825' data-domains="checkoutpage.co, tokenbets.netlify.app"></script>
  <script type="text/javascript" src="https://checkoutpage.co/js/overlay.js" defer></script>
</head>

<body>
  <main>
    {{ content | safe }}
  </main>
</body>

</html>
